<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>reset_password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="login-background">
  <ion-card class="login-card">
    <ion-input [(ngModel)]="code" type="hidden"></ion-input>
    <ion-input
      [(ngModel)]="password"
      type="password"
      placeholder="Contraseña"
    ></ion-input>
    <ion-input
      [(ngModel)]="passwordConfirmation"
      type="password"
      placeholder="Confirmar contraseña"
    ></ion-input>
    <ion-button (click)="resetPassword()" class="login-btn">
      Recuperar contraseña
    </ion-button>
  </ion-card>
</ion-content>
